*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
     display:flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     transition: background 0.3s ease;
}

.card{
    background-color: white;
    width: 380px;
    padding: 14px;
    border-radius: 10px;
}

.card h3{
    text-align: center;
    margin-bottom: 10px;
}

.card button{
    background-color: black;
    color: white;
    display: block;
    width: 100%;
    padding: 12px 0px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
}